/* CSS Document */

body {
	background-color: #d3d3d3;
}

.container {
	width: 100%;
	background-color: #d3d3d3;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 30% 30% 30%;
	grid-template-areas: 
		"header header header"
		"nav main side"
		"foot foot foot";
	grid-gap: 3%;
	justify-content: center;
}

.header {
	grid-area: header;
	background-color: #f00;
	text-align: center;
	color: #fff;
	font-size: 2.25em;
	min-height: 325px;
}

.nav {
	grid-area: nav;
	background-color: #006400;
	text-align: left;
	color: #fff;
	font-size: 1.5em;
	min-height: 125px;
}

.main {
	grid-area: main;
	background-color: #fff;
	text-align: left;
	color: #000;
	font-size: 1em;
	min-height: 125px;
}

.sidebar {
	grid-area: side;
	background-color: #0f0;
	text-align: left;
	color: #000;
	font-size: 1.5em;
	min-height: 125px;
}

.footer {
	grid-area: foot;
	background-color: #f00;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	min-height: 175px;
}